.assignementContent{
    background-color: #f6f6f6;
}
.AssignmentHolder
{
      display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin-top: 100px;
}
.main{
 display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 1200px; */
    flex-wrap: wrap; 
    padding: 40px 0;
    gap: 30px;
}
.main .cardTask{
    position: relative;
}
.main .cardTask .shape
{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.main .cardTask .shape.beforeShape{
    position: relative;
    background: #6541fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.main .cardTask:hover .shape.beforeShape{
    transform: translateY(0px);
     background-color:#1a064e;
     color: #f6f6f6;
}
.main .cardTask .shape.afterShape
{
   
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}
.main .cardTask:hover .shape.afterShape{

    transform: translateY(0px);
}
.main .cardTask .shape.beforeShape .taskContent{
    transition: 0.5s;
    text-align: center;
}
.main .cardTask:hover .shape.beforeShape .taskContent{
    opacity: 1;
}
.main .cardTask .shape.beforeShape .taskContent img{
    width : 80px;
    height: 80px;
    margin: 0 50px 0px;
}
.main .cardTask .shape.beforeShape .taskContent h4{
    margin: 10px 0 0;
    padding: 0;
    color: #f6f6f6;
    text-align: center;
    font-size: 16px;

}
.main .cardTask .shape.beforeShape .taskContent h3{
    margin: 10px 0 0;
    padding: 0;
    color: #f6f6f6;
    text-align: center;
    font-size: 18px;

}


.main .cardTask .shape.afterShape P{
    margin: 0;
    padding: 0;
    width: 99%;
    height: 80px;
       display: block;
       position:static;
       word-break: break-word;
    /* width: 100px; */
  /* overflow: hidden;
  white-space: nowrap; */
  text-overflow: ellipsis;
   
}
.main .cardTask .shape.afterShape a{
    margin: 15px 15px 0;
    float: right;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.main .cardTask .shape.afterShape a:hover{
    background-color: #333;
    color: #f6f6f6;
}
.main .cardTask .shape.afterShape .taskContent .break{
  height: 90px;
  overflow: auto;
  text-align: center;
}

@media (max-width : 540px) {
    .main{
        grid-template-columns: repeat(1,1fr);
    }
    
}

@media (max-width : 290px) {
     .custom-shape-divider-top-1654033706 svg {

    width: calc(153% + 1.3px);
    height: 125px;
}
 .header .title{
        top:9px;
        border:block;
        right: 35px;
    }
.header .title h1{
        font-size: 26px;
       right:45px;
    }
    
}