@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       .studentsList{
        background-color:#f6f6f6;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .GroupStudents{
      display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin-top: 150px;
    
       }
        .GroupStudents .holder{
        gap:60px;
        }

        .cardStudent{
            
             /* margin: 30px; */
          width: 345px;
          padding:15px;
          background: rgb(128, 122, 122);
          border:none;
          cursor: pointer;
          transition: all 0.5s;
        }

        .round-image{
          width: 100px !important;
          height: 100px !important;
          border: 2px solid red;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
        .cardStudent .rounded-circle{
            width: 100%;
            height: 100%;
        }
        .content{
         font-weight: 800;
          font-size: 13px;
        }

        .follow{
          border-radius: 25px;
          padding-right: 19px;
          padding-left: 19px;
          height: 42px;
          font-size: 13px;
          width: 130px;
          background-color: #3827b1
        }

        .follow:hover{
          
          background-color:#1a0a8c;
        }

        .card:hover{
          box-shadow: 0 0 40px rgba(51, 51, 51, .1);
                  }

          /* When width less then 680px */
@media (max-width:920px) {

    .custom-shape-divider-top-1654033706 svg {

    width: calc(145% + 1.3px);
    height: 206px;
}
    .header{
        background-color: #f6f6f6;
        
    }
    .header .title{
    top: 39px;
    border: block;
    left: 25px;
    }
    .header .title h1{
        font-size: 40px;
     
    }
  
    .GroupStudents{
   margin-top: 65px;;
    }
}

        /* when width less then 580px */

@media (max-width:580px) {
     .custom-shape-divider-top-1654033706 svg {

    width: calc(145% + 1.3px);
    height: 165px;
}
    .header{
        background-color: #f6f6f6;
    }
    .header .title{
        top:20px;
        border:none;
        left: -15px;
    }
    .header .title h1{
        font-size: 30px;
        /* -webkit-text-stroke : 1px #6541FA; */
    }
    .GroupStudents{
        margin-top: 30px;
    }
}

    @media (max-width : 290px)
    {
         .custom-shape-divider-top-1654033706 svg {

    width: calc(153% + 1.3px);
    height: 125px;
}
 .header .title{
        top:9px;
        border:block;
        left: -35px;
    }
        .header .title h1{
        font-size: 25px;
    }
    }